.brand {
  color: black;
  background-color: aqua;
  display: flex;
  align-items:center;


}
. {
  margin: 5px;
  padding: 3px;
}
.footer {
  background-color: tan;
  text-align: center;color:blue;

  
}
.list {
  background-color: red;
}
nav {
  display: flex;
  align-items: left;
  justify-content:space-between
}
aside {
  display: flex;
  align-items:baseline
  justify-content: space-around;
  padding: 5px;
  margin:0;
}
article {background-color: PINK;
  padding: 3px;
  flex-grow: initial}